# App Configuration
# Use 'local' for SQlite or 'production' for Cloudflare D1
APP_ENV=local
APP_BASE_DOMAIN=admin.mock_saas

# Cloudflare Configuration
# Obtain tokens from https://dash.cloudflare.com/profile/api-tokens
CLOUDFLARE_API_TOKEN=your_token_here
CLOUDFLARE_ACCOUNT_ID=your_account_id_here
CLOUDFLARE_ZONE_ID=your_zone_id_here

# PRODUCTION: Cloudflare D1 Database
# Created via `wrangler d1 create your-db-name`
CLOUDFLARE_D1_ID=your_d1_database_id_here

# LOCAL: Database Path
DB_PATH=database/database.sqlite
